doctype html
html
   head
      title = "Mini project"
      link(rel='stylesheet',href="style1.css") 
      script (src='/socket.io/socket.io.js')
      script (src='https://code.jquery.com/jquery-1.11.1.js')
      
   body
        block resultatraportering
        block resultat
        block 404
        script.
            const socket= io();