extends layout
block resultat
    div 
    h1 Results are:
    ul#listItem
    li#li
    script.
        
        const ul=document.getElementById('listItem');
        const li=document.getElementById('li');
        
        socket.on('vote update',function(vote){
        console.log('vote is '+ vote);
        ul.appendChild(li).innerHTML=vote;
        });